{% extends "seller-header.html" %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Sign Up</title>


    <style>
        .signup-container {
            max-width: 500px;
            margin: 100px auto;
          }
          
          .signup-container .card {
            border: none;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
          
          .signup-container .card-header {
            background-color: #232f3e;
            color: #fff;
            text-align: center;
          }
          
          .signup-container .card-body {
            padding: 20px;
          }
          
          .signup-container .form-group {
            margin-bottom: 20px;
          }
          
          .signup-container .btn-primary {
            background-color: #f0c14b;
            border-color: #a88734 #9c7e31 #846a29;
          }
          
          .signup-container .btn-primary:hover {
            background-color: #ffdb58;
          }
          
          .signup-container .btn-link {
            color: #007bff;
          }
    </style>

  </head>
  <body>

    <div class="container signup-container m-t-600">
      <div class="card">
        <div class="card-header">
          <h3>Edit Product</h3>
        </div>
        <div class="card-body">
          <!-- Add your sign-up form here -->
          {%if msg%}
            <div class="alert alert-success" role="alert">
              {{msg}}
            </div>
          {%endif%}
          
          <form method="post", action="{% url 'seller-edit-product' pk=product.pk %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
              <label>Product Name</label>
              <input type="text" class="form-control"  name="product-name" value="{{product.product_name}}">
            </div>
            <div class="form-group">
                <label>Product Price</label>
                <input type="text" class="form-control"  name="product-price" value="{{product.product_price}}">
            </div>
            <div class="form-group">
                <label for="name">Product Category</label>
                <select style="width:350px" name="product-category">
                    {%if product.product_category == "Men"%}
                        <option >---Select Product Category---</option>
                        <option value="Men" selected>Men</option>
                        <option value="Women">Women</option>
                        <option value="kids">kids</option>
                    {%elif product.product_category == "Women"%}
                        <option >---Select Product Category---</option>
                        <option value="Men" >Men</option>
                        <option value="Women" selected>Women</option>
                        <option value="kids">kids</option>
                    {%elif product.product_category == "kids"%}
                        <option >---Select Product Category---</option>
                        <option value="Men" >Men</option>
                        <option value="Women">Women</option>
                        <option value="kids" selected>kids</option>
                    {%endif%}
                </select>
              </div>
              <div class="form-group">
                <label for="name">Product Brand</label>
                <select style="width:350px" name="product-brand">
                    {%if product.product_brand == "luvis"%}
                        <option >---Select Product Brand---</option>
                        <option value="luvis" selected>luvis</option>
                        <option value="Diesel">Diesel</option>
                        <option value="polo">polo</option>
                    {%elif product.product_brand == "Diesel"%}
                        <option >---Select Product Brand---</option>
                        <option value="luvis">luvis</option>
                        <option value="Diesel"selected>Diesel</option>
                        <option value="polo">polo</option>
                    {%elif product.product_brand == "polo"%}
                        <option >---Select Product Brand---</option>
                        <option value="luvis">luvis</option>
                        <option value="Diesel">Diesel</option>
                        <option value="polo"selected>polo</option>
                    {%endif%}
                </select>
              </div>
              <div class="form-group">
                <label for="name">Product Size</label>
                <select style="width:350px" name="product-size">
                    {% if product.product_size == "s"%}
                        <option >---Select Product Size---</option>
                        <option value="s" selected>s</option>
                        <option value="l">l</option>
                        <option value="xl">xl</option>
                        <option value="xxl">xxl</option>
                    {% elif product.product_size == "l"%}                  
                        <option >---Select Product Size---</option>
                        <option value="s">s</option>
                        <option value="l" selected>l</option>
                        <option value="xl">xl</option>
                        <option value="xxl">xxl</option>
                    {% elif product.product_size == "xl"%}                  
                        <option >---Select Product Size---</option>
                        <option value="s">s</option>
                        <option value="l">l</option>
                        <option value="xl" selected>xl</option>
                        <option value="xxl">xxl</option>
                    {% elif product.product_size == "xxl"%}                  
                        <option >---Select Product Size---</option>
                        <option value="s">s</option>
                        <option value="l">l</option>
                        <option value="xl">xl</option>
                        <option value="xxl" selected>xxl</option>
                    {%endif%}
  
                </select>
              </div>
            <div class="form-group">
              <label >product Description</label>
              <textarea class="form-control"  name="product-desc"  rows="3" >{{product.product_desc}}</textarea>
            </div>
            <div class="form-group">
              <label >Product Front Image</label>
              <img src="{{product.product_fimage.url}}" style="width:50px;height:50px">
              <input type="file" class="form-control-file"  name="product-fimage" accept="image/*" >
            </div>
            <div class="form-group">
                <label >Product Back Image</label>
                <img src="{{product.product_bimage.url}}" style="width:50px;height:50px">
                <input type="file" class="form-control-file"  name="product-bimage" accept="image/*" >
              </div>
            <button type="submit" name="action" class="btn btn-primary btn-block">Update Product</button>
          </form>

        </div>
      </div>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  


</body>
</html>
{%endblock%}